body {
    background-color: #504a4a;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar {
    height: 75px;
    background-color: #000000;
    border-color: #000000;
}

.big-logo {
    display: block;
    margin: 0 auto;
    width: 50%;
}
